<launch>

 <!-- set the onboard camera frame rate -->
 <arg name="frame_rate" value="15" />
 <arg name="use_onboard_storage" value="false" />
 
<!-- <arg name="calibrated" value="true" /> -->
<!-- <node name="pointgrey_camera" output="screen"  pkg="pointgrey_camera_driver" type="camera_node">
	<param name="frame_rate" value="$(arg frame_rate)" />
  <param name="auto_shutter" value="true" />
  <param name="shutter_speed" value="0.01" />
  <param name="format7_color_coding" value="raw8" />
  <param name="auto_white_balance" value="true" />
  <param name="camera_info_url" if="$(arg calibrated)"
             value="file:///home/thor/ost.yaml" /><-->
  <!-- param name="white_balance_blue" value="800" -->
  <!-- param name="white_balance_red" value="550" -->
 <!--</node>-->

<node name="other_camera" pkg="basler_camera" type="basler_camera_node" output="screen">
    <rosparam command="load" file="$(find sniper_cam)/config/default.yaml"/>
  </node>

<node name="state_image_stamper" pkg="sniper_cam" type="image_stamper.py">
	<param name="frame_rate_in" value="$(arg frame_rate)" />
</node>

 <node if="$(arg use_onboard_storage)" name="onboard_image_storage" pkg="sniper_cam" type="state_image_writer.py">
  <param name="image_directory" value="/mnt/vision_files/all_images/" />
	<param name="state_directory" value="/mnt/vision_files/all_state_files/" />
 </node>

</launch>
